.header {
    padding: 60px; 
    text-align: center; 
    background: #6ac2c2; 
    color: rgb(0, 0, 0); 
  }
  .footer {
    padding: 20px;
    text-align: center;
    background: #6ac2c2;
    color: rgb(0, 0, 0); }
body {
  font-family: cursive;
  margin: 0;
}
.navbar {
    overflow: hidden;
    background-color: #ffffff;
  }
.navbar a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
.navbar a.right {
    float: right;
  }
  mark {
    background-color: rgb(0, 255, 170);
    color: black;
  }